<div class="bg-white p-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-10">
            <h1 class="text-center py-2"><%= activity.name %></h1>
            <div class="text-center">
              <%= link_to "Sélectionner l'offre", "#", class: 'btn btn-primary'%>
            </div>
            <div class="info w-50 mt-5">
                <p><strong>Adresse:</strong> <%= activity.address %></p>
                <p><strong>Avis des visiteurs:</strong> <%= activity.average_rating %>/5</p>
                <p> <strong>Description:</strong> <%= activity.description %></p>
                <p><strong>Prix:</strong> <%= activity.budget%> €</p>
            </div>
        </div>
      </div>
</div>
