<div data-activities-update-target="list">
  <div class="activities-options my-4">
    <fieldset class="mb-3 check_boxes optional trip_activities" >
      <input type="hidden" name="trip[activity_ids][]" value="" autocomplete="off">
      <% filtered_activities.each do |activity| %>
        <div class="card-item">
          <input class="form-check-input check_boxes optional card-selector" data-target="activitySelector" type="checkbox" value="<%= activity.id %>" name="trip[activity_ids][]" id="trip_activity_ids_<%= activity.id %>">
          <label class="form-check-label collection_check_boxes" for="trip_activity_ids_<%= activity.id %>">
            <div class="card_activity">
              <div class="card_name">
                <%= cl_image_tag(activity.photos.first.key, height: 300, width: 400) %>
                <h5><%= truncate(activity.name, length: 40, separator: ' ', omission: '...') %></h5>
              </div>
              <div class="activity_description">
                <div>
                  <p class="rating"><i class="fa-solid fa-star"></i><%= activity.average_rating%>/5</p>
                  <p class="duration"><i class="fa-solid fa-stopwatch"></i><%= activity.duration%>h</p>
                  <p class="price"><i class="fa-solid fa-coins"></i> <%= activity.price_per_visitor %>€</p>
                </div>
                <p class="address"><i class="fa-solid fa-location-pin"></i><%= truncate(activity.address, length: 80, separator: ' ', omission: '...') %></p>
                <p class="description"><%= activity.description %></p>
                <div class="cards-tag">
                  <%= collection_check_boxes(:activity, :categories, activity.categories, :name, :name, { include_hidden: false }, { class: "tag-selector", data: { activities_update_target: "checkbox", action: "change->activities-update#update"} }) %>
                </div>
              </div>
            </div>
          </label>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
