<div class='card_activity'>
  <%= cl_image_tag activity.photo.key, height: 300, width: 400, crop: :fill %>
  <h3 class='mt-2'><%= activity.name %></h3>
  <%= link_to 'Voir plus de détail', activity_path(activity), data: { bs_toggle: 'modal', bs_target: '#activity-#{activity.id}' } %>
  </div>
  <div class='modal fade modal-activity-show' id=<%= 'activity-#{activity.id}'%> tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body'>
        <%= render'trips/activity-show', activity: activity %>
      </div>
    </div>
  </div>
</div>
