<div class="card-trip-wrapper" data-url="<%= trip_activity_path(trip_activity.id) %>">
  <div class="card-trip-show">
    <p class="mb-0">
      <% if trip_activity.start_at %>
        <strong>De <%= trip_activity.start_at.strftime('%Hh%M') %> à <%= trip_activity.end_at.strftime('%Hh%M') %></strong>
      <% end %>
    </p>
    <div class="card-trip-show-info">
      <%= cl_image_tag(trip_activity.activity.photos.first.key, id:"trip-activity-avatar") %>
      <div class="card-title-price">
        <h3><%= truncate(trip_activity.activity.name, length: 22, separator: ' ', omission: '...') %></h3>
        <div class="card-trip-icon-price">
          <% if trip_activity.activity.category_list.include?("Monuments et points d'intérêt") %>
            <i class="fa-solid fa-location-dot"></i>
          <% end %>
          <% if trip_activity.activity.category_list.include?("Sites historiques") %>
            <i class="fa-brands fa-fort-awesome"></i>
          <% end %>
          <% if trip_activity.activity.category_list.include?("Parcs et jardins") %>
            <i class="fa-solid fa-tree"></i>
          <% end %>
          <% if trip_activity.activity.category_list.include?("Musées") %>
            <i class="fa-solid fa-landmark"></i>
          <% end %>
          <% if trip_activity.activity.category_list.include?("Marchés") %>
            <i class="fa-solid fa-store"></i>
          <% end %>
          <% if trip_activity.activity.category_list.include?("Théâtres") %>
            <i class="fa-solid fa-masks-theater"></i>
          <% end %>
          <% if trip_activity.activity.price_per_visitor.nil? %>
            <p class="mb-0">Gratuit</p>
          <% else %>
            <p class="mb-0"><%= trip_activity.activity.price_per_visitor.to_i%> €</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
