
<div class="container" data-controller="activities-update">
  <h1 class="text-blue mt-3">Parlez moi de votre futur séjour</h1>

  <%= simple_form_for @trip, data: { controller: 'flatpickr' } do |f| %>
    <%= f.label "Choisissez votre destination ✈️", id: "label-destination"%>
    <%= f.text_field :query, class: "form-control", placeholder:
                      "Entrez le nom d'une ville", value: params[:query],
                      data: {
                          activities_update_target: "input",
                          action: "keyup->activities-update#update"
                        } %>
    <br>
    <%= f.input :starting_date, label: "A partir du :", as: :string, input_html: { id: "starting_date", data: { flatpickr_target: "startingDate" } }, wrapper_html: { class: 'flatpickr-input' } %>
    <%= f.input :ending_date, label: "Jusqu'au :", as: :string, input_html: { id: "ending_date", data: { flatpickr_target: "endingDate" } }, wrapper_html: { class: 'flatpickr-input' } %>

    <%= f.input :budget, label: 'Quel budget souhaitez-vous ne pas dépasser ?', placeholder: '300€' %>

    <%# SLIDER %>
     <div class="slider-container" data-controller="slider">
      <div class="slider-labels">
        <span class="min-value">0</span>
        <span class="max-value">1000</span>
      </div>
      <div class="slider-input">
        <input type="range" min="0" max="1000" step="50" data-slider-target="range" data-action="input->slider#updateValue">
      </div>
      <div class="slider-value" data-slider-target="value"></div>
    </div>
    <%# SLIDER %>

    <h5 class="text-blue">Quel type d'activités souhaitez-vous faire ?</h5>
    <section class="activities-filter mb-4" data-url="<%= filter_activities_trips_path %>" data-activities-update-target="form">
      <%= collection_check_boxes(:activity, :categories, ActsAsTaggableOn::Tag.for_context(:categories), :name, :name, { include_hidden: false }, { class: "tag-selector", data: { activities_update_target: "checkbox", action: "change->activities-update#update"} }) %>
      <br>
    </section>
    <%= render "activity_list", filtered_activities: @filtered_activities %>
    <%= f.hidden_field('activity_ids[]', value: "") %>
    <%= f.submit "GO", class: "btn-destination mb-3" %>
  <% end %>
</div>
