
<div class="container">
  <h1 class="text-blue">Parlez moi de votre futur séjour</h1>
  <h5 class="text-blue">Quel type d'activités souhaitez-vous faire ?</h5>
  <%= form_tag new_trip_path, method: :get do %>
    <%= collection_check_boxes(:activity, :categories, ActsAsTaggableOn::Tag.for_context(:categories), :name, :name, { include_hidden: false }, { class: "tag-selector" }) %>
    <%= button_tag "valid", type: "submit", class: "btn btn-default" %>
  <% end %>


  <%= simple_form_for @trip, data: { controller: 'flatpickr' } do |f| %>

    <%= f.input :starting_date, as: :string, input_html: { id: "starting_date", data: { flatpickr_target: "startingDate" } }, wrapper_html: { class: 'flatpickr-input' } %>
    <%= f.input :ending_date, as: :string, input_html: { id: "ending_date",  data: { flatpickr_target: "endingDate" } }, wrapper_html: { class: 'flatpickr-input' } %>
    <%= f.input :budget, label: 'Budget', placeholder: 'Quel budget souhaitez-vous ne pas dépasser ?' %>
    <%= f.association :activities,
      as: :check_boxes,
      collection: @filtered_activities,
      label: false,
      label_method: lambda { |activity|
        "#{render "activity_options", activity: activity}".html_safe
      },
      input_html: { class: "tag-selector" },
      item_wrapper_class: 'tag-item' %>

    <%# Création des cards ici %>
    <div class="cards">
      <% @activities.each do |activity| %>

      <% end %>
    </div>
    <%= f.submit "GO" %>
  <% end %>
  <div style="width: 100%; height: 600px;" class="trip-map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
