
<div class="container">
  <h1 class="text-blue">Parlez moi de votre futur séjour</h1>
  <h5 class="text-blue">Quel type d'activités souhaitez-vous faire ?</h5>
  <%= form_tag new_trip_path, method: :get do %>
    <%= collection_check_boxes(:activity, :categories, ActsAsTaggableOn::Tag.for_context(:categories), :name, :name, { include_hidden: false }, { class: "tag-selector" }) %>
    <%= label_tag "City" %>
    <%= text_field_tag :city, params[:city], class: "form-control", placeholder: "Enter city" %>
    <%= button_tag "valid", type: "submit", class: "btn btn-default" %>
  <% end %>

  <%= simple_form_for @trip, data: { controller: 'flatpickr' } do |f| %>

    <%= f.input :starting_date, as: :string, input_html: { id: "starting_date", data: { flatpickr_target: "startingDate" } }, wrapper_html: { class: 'flatpickr-input' } %>
    <%= f.input :ending_date, as: :string, input_html: { id: "ending_date",  data: { flatpickr_target: "endingDate" } }, wrapper_html: { class: 'flatpickr-input' } %>
    <%= f.input :budget, label: 'Budget', placeholder: 'Quel budget souhaitez-vous ne pas dépasser ?' %>
    <%= f.association :activities,
      as: :check_boxes,
      collection: @filtered_activities,
      label: false,
      label_method: lambda { |activity|
        "#{render "activity_options", activity: activity}".html_safe
      },
      input_html: { class: "card-selector", include_hidden: false },
      item_wrapper_class: 'card-item' %>
    <%= f.hidden_field('activity_ids[]', value: "") %>
    <%= f.submit "GO" %>
  <% end %>
</div>
