<div class="container mt-5">
  <div class="row justify-content-center">
        <h1>Votre séjour à <%= @trip.trip_name %></h1>
        <h4>Du <%= @trip.starting_date %> au <%= @trip.ending_date %>
    <div class="d-flex">
      <div class="first_column">
        <% @trip.activities.each do |activity| %>
        <div class="card-trip-show">
          <div class="d-flex">
            <%= cl_image_tag activity.photo.key, crop: :fill, class:"img-fluid" %>
            <div class="card-trip-show-info">
              <h3><%= activity.name %></h3>
              <p><%= activity.address %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="second_column">
        <div style="width: 450px; height: 450px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
