<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-12">
      <%= link_to "Sauvegarder mon séjour", "#" %>
      <%= link_to "Modifier mon séjour", edit_trip_path(@trip) %>
      <h1 >Votre séjour à <%= @trip.trip_name %></h1>
      <h4>Du <%= @starting_date %> au <%= @ending_date %></h4>
      <h4>Budget : <%= @trip.budget %>€</h4>
      <h6>Vous pouvez désormais déplacer chaque étape de votre programme en fonction de votre préférence.</h6>
      <div class="d-flex align-item-center" data-controller="sortable">
        <div class="first_column">
          <% @dates.each do |date| %>
            <section class="day-trip-list">
              <h3><%= date.strftime('%A %-d %B') %></h3>
              <div data-sortable-target="list">
              </div>
              <div class="callout"></div>
            </section>
          <% end %>

        </div>
        <div class="second_column mt-4">
          <section class="trip-activities-list" data-sortable-target="list">
            <% @trip.activities.each do |activity| %>
              <div class="card-trip-show">
                <div class="d-flex">
                    <%= cl_image_tag activity.photo.key, crop: :fill, class:"img-fluid" %>
                    <div class="card-trip-show-info">
                      <h3><%= truncate(activity.name, length: 20, separator: ' ', omission: '...') %></h3>
                      <div class="d-flex">
                        <p class="pe-4"><%= activity.address %></p>
                        <% if activity.price_per_visitor === 0 %>
                          <p>Gratuit</p>
                        <% else %>
                          <p><%= activity.price_per_visitor%>€</p>
                        <% end %>
                      </div>

                    </div>
                </div>
              </div>
            <% end %>
          </section>
          <div class="sticky" style="width: 500px; height: 500px;"
                data-controller=""
                data-map-markers-value="<%= @markers.to_json %>"
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
