
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= "MAIWEI" %>
    <% end %>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Accueil", root_path, class: "nav-link" %>
          </li>
            <li class="nav-item">
            <%= link_to "Activitiés", activities_path, class: "nav-link" %>
          </li>
            <li class="nav-item">
            <%= link_to "Votre futur séjour", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "UserPhoto.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mon tableau de bord", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Mes infos", "#", class: "dropdown-item" %>
              <%= link_to "Se déconnecter", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>

     </ul>
   </div>
  </div>
</div>
