<div class="bg-white">
  <div class="banner position-relative">
    <%= video_tag("monaco-31661.mp4", autoplay: true, loop: true, muted: true, playsinline: true, style: "width: 100%; object-fit: cover;") %>

    <div class="container p-5 position-absolute">
      <div class="body_card_activity">
        <h1>MAIWEI</h1>
        <h2>Vous ne voyagerez plus de la même façon !</h2>
        <h3 class="text-white">Organisez votre voyage pour optimiser vos déplacements et découvrez des lieux incroyables...</h3>

          <%# SEARCH BAR %>
          <div class="container p-4">
            <div class="form-search mt-6">
              <%= form_with url: "./activities", method: :get, class: "d-flex" do %>
               <%= text_field_tag :query,
               params[:query],
               class: "form-control",
               placeholder: "Quelle sera votre prochaine destination" %>
               <%= submit_tag "Recherchez", class: "btn-destination" %>
              <% end %>
            </div>
          </div>
          <%# END SEARCH BAR %>
      </div>
    </div>
  </div>
  <%# END SEARCH BAR %>


  <div class="bg-white p-4">
    <div class="activity-cards-container">
      <% @activities.each do |activity| %>
        <div class="card_activity">
          <div class="card_activity">
            <%= cl_image_tag(activity.photo.key, height: 300, width: 400, crop: :fill, class:"img-fluid") %>
            <h5><%= truncate(activity.name, length: 40, separator: ' ', omission: '...') %></h5>
            <p><%= truncate(activity.description, length: 60, separator: ' ', omission: '...') %></p>
            <%= link_to "Découvrez cette destination", "#", class: "btn btn-details"  %>
          </div>

        </div>
      <% end %>
    </div>
    <div class="bg-white">
      <div class="card_activity_h3">
        <h3>Partez à la découverte du monde</h3>
      </div>
    </div>
  </div>
</div>
