<div class="bg-white" data-controller="homepage">
<div data-controller="homepage">
  <div class="home-background" id="path" data-homepage-target="path">
    <i class="fas fa-plane" id="plane" data-homepage-target="plane"></i>
  </div>
  <div class="banner position-relative">
    <div class="wrapper">
      <%= video_tag("london2.mp4", autoplay: true, loop: true, muted: true, playsinline: true, style: "width: 100%; object-fit: cover; object-position: top" ) %>
    </div>

    <div class="container p-5 position-absolute">
      <div class="body_card_activity">
        <h1>maïweï</h1>
        <h2>Vous ne voyagerez plus de la même façon !</h2>
        <h3 class="text-white">Organisez votre voyage pour optimiser vos déplacements et découvrez des lieux incroyables...</h3>

        <%# SEARCH BAR %>
        <div class="form-search mt-5 mb-4">
          <%= form_with url: "./activities", method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Quelle sera votre prochaine destination ?" %>
            <%= submit_tag "Recherchez", class: "btn-destination" %>
          <% end %>
        </div>
        <%# END SEARCH BAR %>
      </div>
    </div>
  </div>


  <div class="bg-white p-4">
    <h3 class="card_activity_h3" >Partez à la découverte du monde</h3>
    <div class="activity-cards-container p-4">
      <div class="card_activity_tuto">
        <div class="card_name">
          <%= image_tag "mapemonde.jpg", alt: "Mapemonde", class:"img-fluid" %>
          <h5>Étape 1</h5>
        </div>
        <div class="activity_tuto_description">
          <p>Choisissez votre destination</p>
        </div>
      </div>
      <div class="card_activity_tuto">
        <div class="card_name">
          <%= image_tag "paris.jpg", alt: "Paris", class:"img-fluid" %>
          <h5>Étape 2</h5>
        </div>
        <div class="activity_tuto_description">
          <p>Renseignez les informations de votre séjour et sélectionnez vos activités </p>
        </div>
      </div>
      <div class="card_activity_tuto">
        <div class="card_name">
          <%= image_tag "planning.jpg", alt: "Planning", class:"img-fluid" %>
          <h5>Étape 3</h5>
        </div>
        <div class="activity_tuto_description">
            <p>Créez votre programme</p>
        </div>
      </div>
      <div class="card_activity_tuto">
        <div class="card_name">
          <%= image_tag "avion.jpg", alt: "Avion", class:"img-fluid" %>
          <h5>Étape 4</h5>
        </div>
        <div class="activity_tuto_description">
          <p>Vous êtes prêt à partir... Bon voyage ! </p>
        </div>
      </div>
    </div>
  </div>
</div>
