<div class="bg-white">
  <div class="card_name">
    <div id="carousel-<%= activity.id %>" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag(activity.photos.first.key, height: 300, width: 400) %>
        </div>
        <div class="carousel-item active">
          <%= cl_image_tag(activity.photos.second.key, height: 300, width: 400) %>
        </div>
        <div class="carousel-item active">
          <%= cl_image_tag(activity.photos.third.key, height: 300, width: 400) %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= activity.id %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= activity.id %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h5><%= activity.name %></h5>
  </div>
  <div class="activity_description">
    <div>
      <p class="rating"><i class="fa-solid fa-star"></i>Note: <%= activity.average_rating%>/5</p>
      <p class="duration"><i class="fa-solid fa-stopwatch"></i>Durée: <%= activity.duration%>h</p>
        <% if activity.price_per_visitor.nil? %>
          <p class="price mb-0">Gratuit</p>
        <% else %>
          <p class="price"><i class="fa-solid fa-coins"></i> <%= activity.price_per_visitor %>€</p>
        <% end %>
    </div>
    <p class="address"><i class="fa-solid fa-location-pin"></i><%= activity.address %></p>
    <p class="description"><%= activity.description %></p>
    <%# <p><%= truncate(activity.description, length: 110, separator: ' ', omission: '...') %>
  </div>
</div>
