<div class="bg-white">
  <div class="card_name">
      <% activity.photos.each do |photo| %>
          <%= cl_image_tag(photo.key, height: 300, width: 400) %>
          <% end %>
    <h5><%= activity.name%></h5>
  </div>
  <div class="activity_description">
    <div>
      <p class="rating"><i class="fa-solid fa-star"></i>Note: <%= activity.average_rating%>/5</p>
      <p class="duration"><i class="fa-solid fa-stopwatch"></i>Durée: <%= activity.duration%>h</p>
      <p class="price"><i class="fa-solid fa-coins"></i> <%= activity.price_per_visitor%>€</p>
    </div>
    <p class="address"><i class="fa-solid fa-location-pin"></i><%= activity.address %></p>
    <p class="description"><%= activity.description %></p>
    <%# <p><%= truncate(activity.description, length: 110, separator: ' ', omission: '...') %>
  </div>

</div>
