<div class="container my-3">
  <h1 class="text-center">Où souhaitez-vous aller ?</h1>
  <%# SEARCH BAR %>
  <%= form_with url: activities_path, method: :get, class: "d-flex mt-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control h-50",
      placeholder: "Votre prochaine destination"
    %>
    <%= submit_tag "Recherchez", class: "btn btn-primary" %>
  <% end %>
  <%# FIN SEARCH BAR %>
  <div class="cards my-4">
    <% @activities.each do |activity| %>
      <div class="card_activity p-2" data-bs-toggle="modal" data-bs-target=<%= "#activity-#{activity.id}" %> >
          <%= cl_image_tag activity.photo.key, height: 300, width: 400, crop: :fill %>
        <h3 class="mt-2"><%= activity.name %></h3>
      </div>
      <div class="modal fade modal-activity-show" id=<%= "activity-#{activity.id}"%> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= render "activity-show", activity: activity %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Modal -->
</div>
