<div class="container my-3 mt-4">
  <h1 class="text-center">Où souhaitez-vous aller ?</h1>
  <%# SEARCH BAR %>
  <%= form_with url: activities_path, method: :get, class: "d-flex justify-content-center mt-3 mb-4" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Votre prochaine destination"
    %>
    <%= submit_tag "Recherchez", class: "btn-destination" %>
  <% end %>
  <%# FIN SEARCH BAR %>
  <%# Modal%>
  <div class="cards my-4">
    <% @activities.each do |activity| %>
      <div class="card_activity" data-bs-toggle="modal" data-bs-target=<%= "#activity-#{activity.id}" %> >
        <div class="card_name">

  <%= cl_image_tag(activity.photos.first.key, height: 300, width: 400) %>
         <%# <% activity.photos.each do |photo| %>
          <%# <%= cl_image_tag(photo.key, height: 300, width: 400) %>
          <%# <% end %>

          <h5><%= truncate(activity.name, length: 40, separator: ' ', omission: '...') %></h5>
        </div>
        <div class="activity_description">
          <div>
          <p class="rating"><i class="fa-solid fa-star"></i><%= activity.average_rating%>/5</p>
          <p class="duration"><i class="fa-solid fa-stopwatch"></i><%= activity.duration%>h</p>
          <p class="price"><i class="fa-solid fa-coins"></i> <%= activity.price_per_visitor %>€</p>
          </div>
          <p class="address"><i class="fa-solid fa-location-pin"></i><%= truncate(activity.address, length: 80, separator: ' ', omission: '...') %></p>
          <p class="description"><%= activity.description %></p>
          <%# <p><%= truncate(activity.description, length: 110, separator: ' ', omission: '...') %>
        </div>
      </div>
      <div class="modal fade modal-activity-show" id=<%= "activity-#{activity.id}"%> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <i class="fa-solid fa-circle-xmark close-modal" data-bs-dismiss="modal" ></i>
            <div class="modal-body">
              <%= render "activity-show", activity: activity %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%# Modal%>
  <!-- card -->
</div>
