<div class="container my-3 mt-4">
  <h1 class="text-center text-blue">Où souhaitez-vous aller ?</h1>
  <%# SEARCH BAR %>
  <%= form_with url: activities_path, method: :get, class: "d-flex mt-3 mb-4" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control h-50",
      placeholder: "Votre prochaine destination"
    %>
    <%= submit_tag "Recherchez", class: "btn-blue" %>
  <% end %>
  <%# FIN SEARCH BAR %>
  <div class="cards my-4 mt-6">
    <% @activities.each do |activity| %>
      <div class="card_activity">
        <%= cl_image_tag(activity.photo.key, height: 300, width: 400) %>
        <h5><%= truncate(activity.name, length: 40, separator: ' ', omission: '...') %></h5>
        <p>Note: <%= activity.average_rating%></p>
        <p><%= truncate(activity.address, length: 80, separator: ' ', omission: '...') %></p>
        <p><em><%= truncate(activity.description, length: 250, separator: ' ', omission: '...') %></em></p>
      </div>
    <% end %>
  </div>
  <!-- card -->
</div>
