<div class="container my-3 mt-4">
  <h1 class="text-center">Que souhaitez-vous découvrir ?</h1>
  <%# SEARCH BAR %>
  <div class="container my-3 mt-4" data-controller="search">
    <div class="search-icon">
      <div class="d-flex justify-content-between align-items-center mt-3 mb-4">
        <%= form_with url: activities_path, method: :get, class: "d-flex justify-content-start mt-3 mb-4" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control-icon",
            placeholder: "Ville à visiter",
            data: { action: "keyup->search#search", search_target: "input" }
          %>
          <%= button_tag type: "submit", class: "btn btn-default" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        <% end %>
        <%= link_to "Créez votre séjour", new_trip_path, class: "btn btn-destination", data: { search_target: "cta" } %>
      </div>
    </div>

  </div>
    <%# FIN SEARCH BAR %>
  <%# Modal%>

  <div class="container my-3 mt-4">
    <div class="category-selected my-4">
      <div class=category-name-selected>
        <h1>Musées</h1>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Musées").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>
    <div class="category-selected my-4">
      <div class="category-name-selected">
        <h1>Monuments et points d'intérêt</h1>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Monuments et points d'intérêt").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>
    <div class="category-selected my-4">
      <div class="category-name-selected">
        <h1>Sites historiques</h1>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Sites historiques").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>
    <div class="category-selected my-4">
      <div class="category-name-selected">
        <h1>Marchés</h1>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Marchés").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>
    <div class="category-selected my-4">
      <div class="category-name-selected">
        <h1>Théâtres</h>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Théâtres").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>

  </div>
</div>
