<div class="container my-3 mt-4">
  <h1 class="text-center">Que souhaitez-vous découvrir ?</h1>
  <%# SEARCH BAR %>
  <div class="container my-3 mt-4" data-controller="search">
    <div class="d-flex justify-content-between mt-3 mb-4">
      <%= form_with url: activities_path, method: :get, class: "d-flex justify-content-start mt-3 mb-4" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Ville à visiter",
          data: { action: "keyup->search#search", search_target: "input" }
        %>
        <%= submit_tag "Recherchez", class: "btn btn-destination" %>
      <% end %>
      <div class="d-flex justify-content-end mt-3 mb-4">
        <%= link_to "Créez votre séjour", new_trip_path, class: "btn btn-destination", data: { search_target: "cta" } %>
      </div>
  </div>
    <%# FIN SEARCH BAR %>
  <%# Modal%>

  <div class="container my-3 mt-4">
    <div class="category-selected my-4">
      <div class=category-name-selected>
        <h2>Musées</h2>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Musées").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>
    <div class="category-selected my-4">
      <div class="category-name-selected">
        <h2>Monuments et points d'intérêt</h2>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Monuments et points d'intérêt").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>
    <div class="category-selected my-4">
      <div class="category-name-selected">
        <h2>Sites historiques</h2>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Sites historiques").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>
    <div class="category-selected my-4">
      <div class="category-name-selected">
        <h2>Marchés</h2>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Marchés").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>
    <div class="category-selected my-4">
      <div class="category-name-selected">
        <h2>Théâtres</h2>
      </div>
      <div class="cards my-4">
        <% @activities.tagged_with("Théâtres").each do |activity| %>
          <%= render "activity-selected-category", activity: activity %>
        <% end %>
      </div>
    </div>

  </div>
</div>
